@phone:		~"only screen and (min-width : 320px)";
@tablet:	~"only screen and (min-width : 768px)";
@desktop:	~"only screen and (min-width : 992px)";




body{
	font-family: 'Oswald', sans-serif;
}

/**
 * general
 */

html, body {
  overflow-x: hidden;
}

@media @phone{
	h1{
		font-size: 2.3em;
	}

	h2{
		font-size: 1.5em;
	}

	h3{
		font-size: 1.3em;
	}

	p, .list{
		font-size: 1.1em;
	}

}
@media @tablet{
	h1{
		font-size: 3em;
	}

	h2{
		font-size: 2em;
	}

	h3{
		font-size: 1.7em;
	}

	p, .list{
		font-size:1.2em;
	}
}

.vertical-center{
  height: 100%;  /* Fallback for vh unit */
  /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.contentArea{
	background: #fff; 
	z-index: 1; 
	width: 100%; 
	position: relative;
}

.imageWrapper{ //image ration is 12,8 : 6,5
	position:relative; 
	// height:650px; --> specified in homeCtrl 
	overflow: hidden;
}

.imageClass{
    z-index: 0;
    // width: 1280px;  --> specified in homeCtrl
    position: absolute; 
    left:50%; 
    // margin-left:-640px; --> specified in homeCtrl
}

/**
 * header
 */
.container.navbarcontainer{
	max-width: 970px;
}

/**
 * top content (cover)
 */
.container.coversection{
	position: absolute;
	top:130px;
	left:0px;
	right:0px; 
	// width: 100%;
	// height: 650px; 
	color: white; 
	font-size: 1.2em; 
	text-align: center;
	// float:none;
}

#portraitCoversection{
	float:left; 
	height:200px; 
	width: auto; 
	margin-right:30px;
}

.textlink{
	color: inherit;
	text-decoration: underline;			
}

.textlink:hover{
	color: #fa6;
}

@media @phone{
	#welcomeText{
		text-align: justify; 
	}	
}
@media @tablet{
	#welcomeText{
		font-size: 1.1em;
	}	
}

/**
 * quote area
 */
@media @phone{
	.quotation{
		font-style: italic; 
		text-align: center; 
		font-size: 1.2em; 
		font-weight: 300; 
	}
}
@media @tablet{
	.quotation{
		font-size: 1.7em; 
	}
}
/**
 * footer
 */
.footer{
	padding:10px;
	background:#fff;
	color: #aaa;
	font-size:0.9em;
}

/**
 * resume
 */
@media @phone{
	.resumeSection{
		min-height:650px; 
		padding:20px 0; 
		max-width:970px; 
		position: relative;

		.introWrapper{
			text-align: center;

			.portrait{
				margin-top:20px;
				display: inline-block;
				height:250px;
			}

			.shorttext{
				font-size: 1.2em;
				font-style: italic;
				padding: 10px 20px;
				font-weight: 300;
			}
		}
		

		.graphicRow{
			margin-top:50px; 
			height:380px;
		}

		h1{
			width: 100%; 
			text-align: center;
		}

		.graphic{
			h2{ //needs media query
				margin:0px;
				padding-left:20px;
			}

			img{
				max-width: 90%; 
				display:inline-block; 
				max-height:320px;
			}
		}

		.graphic-left{
			height:inherit; 
			text-align: center; 
			border-bottom:2px solid #eee; 

			h2{
				text-align: left;
			}
		}

		.graphic-right{ //needs media query
			height:inherit; 
			text-align: center; 
			border-bottom:2px solid #eee;

			h2{
				margin-top:20px;
				text-align: left;
			}
		}

		.graphic-center{
			text-align:center;
			border-bottom:2px solid #eee;

			h2{
				margin-top: 20px;
				text-align: left;
			}

			img{
				margin-top:10px;
				max-width: 100%; 
				max-height: none;
			}
		}

		.portfolio-content{

			.portfolio-logo{
				justify-content : center;
			}

			.portfolio-text{
				text-align: justify;
				padding: 0 10px;
			}
		}
	}
}

@media @tablet{
	.resumeSection{

		.introWrapper{
			text-align: left;

			.portrait{
				margin-top:30px;
				margin-left:10px;
			}

			.shorttext{
				margin-top:35px;
				padding-left:0;
				padding-bottom:0;
				padding-top: 10px;
				padding-right:20px;
			}
		}

		.graphicRow{ 
			height:350px;
		}

		.graphic{
			img{
				max-height:380px;
			}
		}

		.graphic-left{
			border-right:2px solid #eee; 
		}

		.graphic-right{ 
			h2{
				margin: 0px;
				padding-left: 25px;
			}
		}

		.graphic-center{

			h2{
				margin:0px;
			}

			img{
				max-height: none;
			}

		}

		.portfolio-content{

			.portfolio-logo{
				justify-content : flex-end;
			}

			.portfolio-text{
				padding: 0;
			}
		}
		
	}
}

@media @desktop{
	.resumeSection{

		.introWrapper{

			.shorttext{
				font-size:1.5em;
			}
		}

		.graphicRow{ 
			height: 430px;
		}

		.graphic-right{ 
			h2{
				margin: 0px;
				padding-left: 38px;
			}
		}
	}
}

/**
 * photography
 */
@media @phone{
	.ts-masonry-row{
		margin-right: 0px; 
		margin-left: 0px;
		margin-bottom: 50px;

		.col-xs-12,
		.col-xs-8,
		.col-xs-6,
		.col-xs-4,
		.col-xs-3,
		.col-sm-12,
		.col-sm-8,
		.col-sm-6,
		.col-sm-4,
		.col-sm-3,
		.col-md-12,
		.col-md-8,
		.col-md-6,
		.col-md-4,
		.col-md-3{
			padding:0;
		}

		.ts-masonry-image{
			display: block; 
			max-width: 100%;
		}
	}


}

@media @tablet{
	.ts-masonry-row{
		margin-right: 15px; 
		margin-left: 15px;
	}
}


