
<!-- <img src="/images/DerWegC.jpg" class="imageClass" style="height: 790px;" alt du-parallax y="parallaxBackground"> -->

<!-- Make sure to stop by my list of books I want to read or I have read already. -->

<div class="imageWrapper" ng-style="heightImageWrapper" resize>
  <img src="/images/DerWegC.jpg" class="imageClass" ng-style="widthMarginImageClass">
</div>

<div class="container coversection">
<p id="welcomeText">


  Hey, <br><br>
my name is Timo Strauch and you just arrived at my personal website. I am a Business Informatics student at the University of Mannheim (Germany) who is into coding and creating great products. 
You can have a look at my <a class="textlink" href="#resume" scroll-to="resume" duration="2000" easing="easeInOutQuad" offSet="90">resume</a> and check out some of my <a class="textlink" ng-href="#photography" scroll-to="photography" duration="2000" easing="easeInOutQuad">photographs</a>. I also share the <a class="textlink" ng-href="#traveling" scroll-to="traveling" duration="2000" easing="easeInOutQuad" offset="90">locations</a> I have been to already and which are up next. While you are here make sure to stop by the <a class="textlink" ng-href="#reads" scroll-to="reads" duration="2000" easing="easeInOutQuad" offset="90">reads</a> I recommend.
<br><br>

Feel free to drop me an email or contact me via <a class="textlink" href="https://de.linkedin.com/in/timostrauch" target="_blank">LinkedIn</a> or <a class="textlink" href="https://www.xing.com/profile/Timo_Strauch3" target="_blank">XING</a> for any requests.
</p>
<a href="mailto:contact@timostrauch.com" target="_top" style="display:inline-block; margin-top:40px; width: 120px;" class="btn btn-info">Contact me</a>
</div>

<div class="contentArea" style="height: 500px;">
  <div class="container" style="max-width:970px; height: 100%;">
    <div class="row vertical-center" style="padding: 50px 0;">
      <div class="col-xs-12 quotation">
      "Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it." <br><span style="font-style: normal; font-weight:400; font-size: 1em;"> <span style="font-family: 'Arial';">&ndash;</span> Steve Jobs</span>
      </div>
    </div>
  </div>
</div>

<!-- <img src="/images/GrandCanyonC.jpg" class="imageClass" style="height: 790px;" alt du-parallax y="parallaxBackground"> -->
<div class="imageWrapper" ng-style="heightImageWrapper" resize>
  <img src="/images/GrandCanyonC.jpg" class="imageClass" class="imageClass" ng-style="widthMarginImageClass">
</div>

<!-- This is the resume section -->
<div class="contentArea">
  <div ng-include="'views/resume.html'">
  </div>
</div>

<!-- This is the Photography section -->
<div class="imageWrapper" ng-style="heightImageWrapper" resize>
  <img src="/images/YosemiteC.jpg" class="imageClass" class="imageClass" ng-style="widthMarginImageClass">
</div>

<div class="contentArea">
  <div ng-include="'views/photography.html'">
  </div>
</div>

<!-- This is the travel section -->
<div class="imageWrapper" ng-style="heightImageWrapper" resize>
  <img src="/images/BlueSeaC.jpg" class="imageClass" class="imageClass" ng-style="widthMarginImageClass">
</div>

<div class="contentArea">
  <div ng-include="'views/travel.html'">
  </div>
</div>

<!-- This is the books section -->

<div class="imageWrapper" ng-style="heightImageWrapper" resize>
  <img src="/images/SunsetBaliC.jpg" class="imageClass" class="imageClass" ng-style="widthMarginImageClass">
</div>

<div class="contentArea">
  <div ng-include="'views/reads.html'">
  </div>
</div>

