<!-- <masonry ng-controller="PhotoCtrl as photo" column-width="200" masonry-options="{ transitionDuration: '0.4s' }">
<div class="masonry-brick" ng-repeat="brick in photo.photos">
        <img ng-src="{{ brick.src }}" alt="A masonry brick">
    </div>
</masonry> -->

<div id="photography">
  <div class="contentArea" style="height: 500px;">
    <div class="container" style="max-width:970px; height: 100%;">
      <div class="row vertical-center" style="padding: 50px 0;">
        <div class="col-xs-12">
        <h1>Photography</h1>
        <p>I love taking pictures and I take my camera with me whenever possible. I mainly focus on landscapes and portraits but recently started to explore underwater photography.</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="PhotoCtrl as photo" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile", "percentPosition": "true", "columnWidth": ".tile"}' class="row ts-masonry-row">
    <!-- items -->
    <div masonry-tile ng-repeat="item in photo.photos" class="tile col-sm-6 col-md-4">
    	<!-- <img ng-src="{{ item.src }}" alt="Timo Strauch Photography" class="ts-masonry-image ng-class:item.classes;"> -->
      <img ng-src="{{ item.src }}" alt="Timo Strauch Photography" ng-class="['ts-masonry-image', item.classes]">
    </div>
  </div>

</div>

<!-- top lvl div gets position:relative and height:0px; -->
<!-- masonry-tiles get visibility: hidden -->