
<div id="reads">
  	<div class="contentArea" style="min-height: 650px;">
    	<div class="container" style="max-width:970px; height: 100%;">

    		<h1 style="margin-top:50px;">Reads</h1>
    		<p style="margin-bottom: 20px;">My favourite reads include several books and articles from around the web. If you are interested in entrepreneurship, management or product management you might find some interesting stuff. I am always on the hunt for a good read to spend my time on while commuting, so <a class="textlink" href="mailto:contact@timostrauch.com" target="_top">let me know</a> if you have one. 
    		</p>

    		<div class="row reads-content" style="margin-top:50px;">

    			<div class="col-xs-12 col-sm-4 books">
    				<h3 style="text-align: center; width: 100%; margin-bottom:20px;">Books</h3>
    				<ul class="list">
	    				<li>"The Innovator's Dilemma"<br>&ndash; Clayton Christensen</li>
	    				<li>"The Four Steps to the Epiphany"<br>&ndash; Steven Blank</li>
	    				<li>"The Lean Startup"<br>&ndash; Eric Ries</li>
	    				<li>"The Startup Owner's Manual"<br>&ndash; Steven Blank, Bob Dorf</li>
    				</ul>
    			</div>

    			<div class="col-xs-12 col-sm-4 articles">
    				<h3 style="text-align: center; width: 100%; margin-bottom:20px;">Links</h3>
    				<ul class="list">
    					<li><a href="http://www.businessinsider.de/33-business-books-to-read-before-30-2015-12?r=US&IR=T" class="textlink" target="_blank">33 business books every professional should read before turning 30</a></li>
    					<li><a href="https://medium.com/@noah_weiss/50-articles-and-books-that-will-make-you-a-great-product-manager-aad5babee2f7#.txjul57mn" class="textlink" target="_blank">73 Articles and Books that will Make you a Great Product Manager</a></li>
    					<li><a href="http://www.insightjewels.com/guy-kawasaki-the-minimalist-guide-to-pitching/" class="textlink" target="_blank">Guy Kawasaki: The Minimalist Guide to Pitching</a></li>
    					<li><a href="http://blog.idonethis.com/management-technique/" class="textlink" target="_blank">The Management Technique Essential To Google’s Growth</a></li>
    				</ul>
    			</div>

    			<div class="col-xs-12 col-sm-4 websites">
    				<h3 style="text-align: center; width: 100%; margin-bottom:20px;">Websites</h3>
    				<ul class="list">
    					<li><a href="http://www.entrepreneur.com" class="textlink" target="_blank">entrepreneur.com</li>
    					<li><a href="http://firstround.com" class="textlink" target="_blank">firstround.com</li>
    					<li><a href="https://medium.com" class="textlink" target="_blank">medium.com</li>
    					<li><a href="http://venturebeat.com" class="textlink" target="_blank">venturebeat.com</li>

    				</ul>
    			</div>    			

    		</div>
    	</div>
    </div>
</div>