
<div id="resume" class="container resumeSection">

	<h1>Resume &ndash; CV</h1>

	<div class="row introWrapper">

		<div class="col-xs-12 col-sm-4">
			<img src="/images/TimoPortraitWebsiteC.png" class="portrait">
		</div>
		<div class="col-xs-12 col-sm-8 shorttext">
			I am a technology addicted problem solver who loves to learn about and 	experience information technology, business administration, and entrepreneurship.
		</div>

	</div>

	<div class="row graphicRow">

		<div class="col-xs-12 col-sm-6 graphic graphic-left">
			<h2>Strengths</h2>
			<img src="/images/StrengthsNoHeadlineC.png">
		</div>

		<div class="col-xs-12 col-sm-6 graphic graphic-right">
			<h2>Skills</h2>
			<img src="/images/SkillsNoHeadlineC.png">
		</div>

	</div>

	<div class="row" style="margin-top: 20px;">

		<div class="col-xs-12 graphic graphic-center">
			<h2>Timeline</h2>
			<img src="/images/TimelineNoHeadlineC.png">
		</div>

	</div>

	<div class="row graphic graphic-center" style="border-bottom: 0; margin-top: 20px; margin-right:0; margin-left:0;">
		<h2 style="">Portfolio</h2>
	</div>
	<div class="row portfolio-content" style="margin-top: 20px;">
		<div class="col-xs-12 col-sm-3" style="height:150px;">
			<div class="vertical-center portfolio-logo">
				<img src="/images/LogoPinkElephant.png" style="height:90px;cursor: pointer;" alt="http://pinkelephantfamily.appspot.com/#/home" onclick="window.open('http://pinkelephantfamily.appspot.com/#/home');">
			</div>
		</div>

		<div class="col-xs-12 col-sm-9" style="min-height:150px;">
			<p class="portfolio-text">
			<a class="textlink" href="http://pinkelephantfamily.appspot.com/#/home" target="_blank">Pink Elephant</a> is a project that I started with fellow students for a university class. It is a platform for local social projects that helps connecting project owners with supporters which has become even more important with the European refugee crisis. The website still contains sample data for the purpose of the university class but the team and I have the goal to create real and lasting impact with it. We are in the middle of some intense customer acquisition and hope to get real data on the platform very soon.
			</p>
		</div>
	</div>

</div>