<!-- static google maps: -->
<!-- https://maps.googleapis.com/maps/api/staticmap?size=512x512&maptype=roadmap\
&markers=size:mid%7Ccolor:red%7CSan+Francisco,CA%7COakland,CA%7CSan+Jose,CA&key=YOUR_API_KEY -->

<!-- my api key: AIzaSyCj1SGmFJp5cKML7J51CGeBdnJwEIGSVb0 -->

<!-- https://maps.googleapis.com/maps/api/staticmap?size=512x512&maptype=roadmap\
&markers=size:mid%7Ccolor:red%7C
San+Francisco,CA%7C
Palo+Alto,CA%7C
San+Jose,CA%7C
Los+Angeles,CA%7C
New+York+City,NY
&key=AIzaSyCj1SGmFJp5cKML7J51CGeBdnJwEIGSVb0 -->

<!-- possibly map icon font: https://github.com/scottdejonge/map-icons -->

<div id="traveling">
  	<div class="contentArea" style="min-height: 650px;">
    	<div class="container" style="max-width:970px; height: 100%;">
    		<h1 style="margin-top:50px;">Traveling</h1>
    		<p style="margin-bottom: 20px;">Traveling means exploring the world, meeting new people, and gaining new perspectives.<br>
    		Places I've been include the U.S. westcoast, New York City, Berlin and a few more exotic places such as Dharhan (Saudi Arabia) and Bali (Indonesia). 
    		</p>
			<div id="map" style="height: 550px; margin-bottom: 50px;"></div>

		</div>
	</div>
</div>


<script type="text/javascript">
	'use strict';
	/*jshint unused: false*/
	/*jshint -W117 */

	/**
	 * define my locations
	 */
	
	//where I was
	var placesIVisited = [
		{
			text: 'San Francisco',
			position: {lat: 37.7749295, lng: -122.4194155}
		},
		{
			text: 'Palo Alto',
			position: {lat: 37.4418834, lng: -122.1430195}
		},
		{
			text: 'San Jose',
			position: {lat: 37.7749295, lng: -122.4194155}
		},
		{
			text: 'Los Angeles',
			position: {lat: 34.0522342, lng: -118.2436849}
		},
		{
			text: 'Las Vegas',
			position: {lat: 36.1699412, lng: -115.1398296}
		},
		{
			text: 'San Diego',
			position: {lat: 32.715738, lng: -117.1610838}
		},
		{
			text: 'Mobile',
			position: {lat: 30.6953657, lng: -88.0398912}
		},
		{
			text: 'Orlando',
			position: {lat: 28.5383355, lng: -81.3792365}
		},
		{
			text: 'New York City',
			position: {lat: 40.7127837, lng: -74.0059413}
		},
		{
			text: 'Berlin',
			position: {lat: 52.5200066, lng: 13.404954}
		},
		{
			text: 'Mannheim',
			position: {lat: 49.4874592, lng: 8.4660395}
		},
		{
			text: 'Switzerland',
			position: {lat: 46.818188, lng: 8.227512}
		},
		{
			text: 'Austria',
			position: {lat: 47.516231, lng: 14.550072}
		},
		{
			text: 'Italy',
			position: {lat: 41.87194, lng: 12.56738}
		},
		{
			text: 'London',
			position: {lat: 51.5073509, lng: -0.1277583}
		},
		{
			text: 'Dharhan',
			position: {lat: 26.2361248, lng: 50.0393017}
		},
		{
			text: 'Bahrain',
			position: {lat: 26.0667, lng: 50.5577}
		},
		{
			text: 'Bali',
			position: {lat: -8.4095178, lng: 115.188916}
		},
	];

	 var sanFrancisco = {lat: 37.7749295, lng: -122.4194155};
	 var paloAlto = {lat: 37.4418834, lng: -122.1430195};
	 var sanJose = {lat: 37.3382082, lng: -121.8863286};
	 var losAngeles = {lat: 34.0522342, lng: -118.2436849};
	 var lasVegas = {lat: 36.1699412, lng: -115.1398296};
	 var sanDiego = {lat: 32.715738, lng: -117.1610838};
	 var mobileAlabama = {lat: 30.6953657, lng: -88.0398912};
	 var orlando = {lat: 28.5383355, lng: -81.3792365};
	 var nyc = {lat: 40.7127837, lng: -74.0059413};
	 var berlin = {lat: 52.5200066, lng: 13.404954};
	 var mannheim = {lat: 49.4874592, lng: 8.4660395};
	 var schweiz = {lat: 46.818188, lng: 8.227512};
	 var oesterreich = {lat: 47.516231, lng: 14.550072};
	 var italy = {lat: 41.87194, lng: 12.56738};
	 var london = {lat: 51.5073509, lng: -0.1277583};
	 var dharhan = {lat: 26.2361248, lng: 50.0393017};
	 var bahrain = {lat: 26.0667, lng: 50.5577};
	 var bali = {lat: -8.4095178, lng: 115.188916};

	 //where I wanna go next
	 var seoul = {lat: 37.566535, lng: 126.9779692};
	 var tokyo = {lat: 35.6894875, lng: 139.6917064};
	 var thailand = {lat: 15.870032, lng: 100.992541};
	 var philipines = {lat: 12.879721, lng: 121.774017};



	function createLocation(position, map, text){
		var infowindow = new google.maps.InfoWindow({
		    content: '<h5>'+text+'</h5>'
		});
		var marker = new google.maps.Marker({
			position: position,
			map: map,
			animation: google.maps.Animation.DROP,
			title: text
		});
		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});
		map.addListener('click', function(){
			infowindow.close();
		});
	}

	 /**
	  * init the map
	  */
	var map;
	var isDraggable = !('ontouchstart' in document.documentElement);
	function initMap() {
		  var map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 2,
		    center: berlin,
		    draggable: isDraggable,
		    scrollwheel: false
		  });

		  placesIVisited.forEach(function(entry){
		  	createLocation(entry.position, map, entry.text);
		  });
		  
	}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj1SGmFJp5cKML7J51CGeBdnJwEIGSVb0&callback=initMap">
</script>